:root {
    --fw: bold;
    --font: arial, helvetica;
    --tfs: 24px;
    --bg: #E6E6E6;
    --grey: #515358;
    --black: rgba(0, 22, 22, 0.4);
}

html,
body {
    background-color: var(--bg);
    min-width: 290px;
    color: #4d4e53;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: var(--black);
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: var(--grey);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: var(--grey);
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

header {
    font-weight: var(--fw);
    font-family: var(--font);
    font-size: var(--tfs);
    margin: 10px;
    text-align: center;
}

code {
    display: block;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    color: #333;
    padding: 2px 5px;
    border-radius: 6px;
    margin: repeat(4, 5px);
    font-size: 0.9em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-x: auto;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
}

p {
    display: block;
}

@media only screen and (max-width: 815px) {

    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}